# IDE related
.vscode/
.idea/
**/*.iml
.settings/
*.classpath
*.launch
**/.project

# OS related
.DS_Store

# Maven related
**/target

# Others
.other/

# Credentials
webapp/src/main/java/ar/edu/itba/paw/webapp/config/auth.properties
